@import "compass/css3";
@import "compass/reset";

/* CSS Reset */
@include global-reset;

body {
  line-height: 1;
  font-family: "Lucida Grande", sans-serif;
  font-size: 13px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* App CSS */

.ember-view {
  position: relative;
  overflow: visible;
}
