<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    	<form role="form-horizontal" role="form">
          <div class="row form-group">
              <label class="col-xs-7">Nombre de titres à masteriser de moins de 4' </label>
              <input class="col-xs-5 count-input" type="number" value='0' name="TitleCountOf4">
          </div>
          <div class="row form-group">
            <label class="col-xs-7">Nombre de titres à masteriser entre 4' et 8' </label>
            <input class="col-xs-5 count-input" type="number" value='0' name="TitleCount4and8">
          </div>
          <div class="row form-group">
            <label class="col-xs-7">Nombre de titres à masteriser entre 8' et 15' </label>
            <input class="col-xs-5 count-input" type="number" value='0' name="TitleCount8and15">
          </div>
          <div class="form-group">
            <label>Contrat de l'artiste </label>
            <div class="radio">
              <label>
                <input type="radio" name="inlineRadioOptions" value="option1"> Major   (ou l'un de ses labesl)          
              </label>          
              <label>          
                <input type="radio" name="inlineRadioOptions" value="option2"> Label   indépendant            
              </label>          
              <label>          
                <input type="radio" name="inlineRadioOptions" value="option3"> Non   signé (ou 1er album)        
              </label>    
            </div>    
          </div>
          <div class="form-group">
            <label>Type de mastering </label>
            <label class="radio-inline">
              <input type="radio" name="byTitle" value="title"> Mastering par titre 
            </label>        
              <label class="radio-inline">        
              <input type="radio" name="masteringCD" value="cd"> Mastering CD      
            </label>        
         </div>
        </form>
    </div>
    
    <div class="col-md-6">
    	<table class="table table-striped">
        <tr>
        <td>4 x traitements mastering (réglage individuel pour chaque titre)</td>
        <td>304 &#8364;</td>
        <tr>
                <tr>
        <td>Livraison par téléchargement sur serveur sécurisé</td>
        <td>0 &#8364;</td>
        <tr>
                <tr>
        <td>Total HT</td>
        <td>304 &#8364; HT</td>
        <tr>
                <tr>
        <td>TVA</td>
        <td>20 &#37;</td>
        <tr>
                <tr>
        <td>Total TTC</td>
        <td>364,80 &#8364; TTC</td>
        <tr>
      </table>
    </div>
  </div>
</div>


{{outlet}}
